<fieldset>

<h3>Authorized SiteSync users</h3>

<p>Specify below who may initiate synchronization in addition to system administrators.</p> 

<div class="setting">
<div class="label"><label for="authorized_users">Authorized users:</label></div>
<div class="field">
    <p><input type="radio" name="authorized_users" id="authorized_users_sysadmin" value="sysadmin" onchange="hide('selected_authorized');" <TMPL_IF NAME=AUTHORIZED_USERS_SYSADMIN> checked="checked"</TMPL_IF> class="rb" /> <label for="authorized_users_sysadmin">Only system administrators</label></p>
    <p><input type="radio" name="authorized_users" id="authorized_users_blogadmin" value="blogadmin" onchange="hide('selected_authorized');" <TMPL_IF NAME=AUTHORIZED_USERS_BLOGADMIN> checked="checked"</TMPL_IF> class="rb" /> <label for="authorized_users_blogadmin">Any blog administrator</label></p>
    <p><input type="radio" name="authorized_users" id="authorized_users_selected" value="selected" onchange="show('selected_authorized');" <TMPL_IF NAME=AUTHORIZED_USERS_SELECTED> checked="checked"</TMPL_IF> class="rb" /> <label for="authorized_users_selected">Selected users</label></p>
    <div id="selected_authorized" style="<TMPL_UNLESS NAME=AUTHORIZED_USERS_SELECTED>display:none; </TMPL_UNLESS>padding-left: 20px;">
        <p>Usernames: <input type="text" name="authorized_usernames" value="<TMPL_VAR NAME=AUTHORIZED_USERNAMES>" style="width:80%" /></p>
        <p style="text-align:right">Separate usernames by commas. (e.g. user1, user2, user3, user4, etc).</p>
    </div>
    <p><input type="radio" name="authorized_users" id="authorized_users_all" value="all" onchange="hide('selected_authorized');" <TMPL_IF NAME=AUTHORIZED_USERS_ALL> checked="checked"</TMPL_IF>  class="rb" /> <label for="authorized_users_all">All users</label></p>
</div>
</div>

<h3>Synchronization source and target directory paths</h3>

<p>For both local filesystem synchronizations and those to a remote server, you must specify a filesystem path to the directory containing the source files and its corresponding target filesystem path to the directory serving as a destination for those files.</p>
    
<div class="setting">
<div class="label"><label for="source_path">Source site root:</label></div>
<div class="field">
<p><input type="text" name="source_path" value="<TMPL_VAR NAME=SOURCE_PATH ESCAPE=HTML>" style="width: 85%" /></p>
<p>The filesystem path to the root of your staged site.  If you wish to synchronize all of your site content, this would be equal to your document root.<br /><strong>Example: /project/websites/bnn/test/site/html/</strong></p>
</div>

<div class="label"><label for="destination_path">Target site root:</label></div>
<div class="field">
<p><input type="text" name="destination_path" value="<TMPL_VAR NAME=DESTINATION_PATH ESCAPE=HTML>" style="width: 85%" /></p>
<p>
    The filesystem path to the root of your production site.  If you are to synchronizing all of your site content, this would be equal to your document root.<br /><strong>Example: /kent/websites/bnn/site/html/</strong>
</p>
</div>

<div class="label"><label for="delete_orphans">Delete orphans:</label></div>
<div class="field">
<p><input type="checkbox" name="delete_orphans" value="1" <TMPL_IF NAME=DELETE_ORPHANS>checked="checked" </TMPL_IF>/> Delete files from target system which no longer exist on source system.</p>
    <p>To keep your files perfectly in sync, you can specify that source files that are deleted or renamed are similarly deleted or renamed in the target directory.</p>
    <p><strong>IMPORTANT: This action is destructive! To ensure that only the desired files are deleted you should not enable it until after you have performed a full and successful sync.</strong></p>
</div>
</div>


<h3>Remote server synchronization</h3>

<p>For synchronization to a remote server, you must also specify the domain name or IP address of that server as well as the username of the remote account used to log in and write the files.

<div class="setting">
<div class="label"><label for="remote_server">Remote server:</label></div>
<div class="field">
<p><input type="text" name="remote_server" value="<TMPL_VAR NAME=REMOTE_SERVER ESCAPE=HTML>" style="width: 85%" /></p>
<p>
    <p>The domain name or IP address of the remote server. This should be left blank for local filesystem transfers.</p>
</p>
</div>

<div class="label"><label for="remote_user">Remote username:</label></div>
<div class="field">
<p><input type="text" name="remote_user" value="<TMPL_VAR NAME=REMOTE_USER ESCAPE=HTML>" style="width: 85%" /></p>
<p>
    <p>The remote username for a user account on the production machine which has permissions to write to the target site root. This should be left blank for local filesystem transfers.</p>
</p>
</div>
</div>

<h3>Advanced rsync settings</h3>

<p>If you are experienced with rsync+ssh, you may specify the exact rsync options to use or even the full command which controls the synchronization process.</p>

<div class="setting">
<div class="label"><label for="rsync_options">Rsync options:</label></div>
<div class="field">
<p><input type="text" name="rsync_options" value="<TMPL_VAR NAME=RSYNC_OPTIONS ESCAPE=HTML>" style="width: 85%" /></p>
<p><strong>OR</strong></p>
</div>
<div class="label"><label for="rsync_command">Rsync command:</label></div>
<div class="field">
<p><input type="text" name="rsync_command" value="<TMPL_VAR NAME=RSYNC_COMMAND ESCAPE=HTML>" style="width: 85%" /></p>
</div>
</div>

</fieldset>
<!--
<script type="text/javascript" charset="utf-8">
toggleDisplay('config-16', 'plugin-info-16')
    
</script>
-->